.anti {
  animation: anti infinite 1s linear;

}

.clock {
  animation: clock infinite 1s linear;
}

body {
  background-color: palevioletred;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fonts {

  font-family: 'Oswald', sans-serif;

}

@keyframes clock {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes anti {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

img.resize {
  width:200px; 
  height: 200px;
  border-radius: 50%;
}