.anti {
  animation: anti infinite 1s linear;

}

.clock {
  animation: clock infinite 1s linear;
}

.App-header {
  background-color: palevioletred;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes clock {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes anti {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

img.resize {
  width:200px; 
  height: 200px;
  border-radius: 50%;
}